<!DOCTYPE html>
<html>

<head>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-158084910-1"></script>
    <script>
        window.dataLayer = window.dataLayer || [];

        function gtag() {
            dataLayer.push(arguments);
        }

        gtag('js', new Date());

        gtag('config', 'UA-158084910-1');
    </script>
    <title>Fortune DataEngine.xyz</title>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no"/>
    <meta name="description" content="Insight Data Engineering Project: Fortune"/>
    <meta name="author" content="Phat Loc (phat.loc@gmail.com)"/>
    <link href="static/css/styles.css" rel="stylesheet"/>
    <link rel="stylesheet" type="text/css"
          href="https://cdn.datatables.net/v/bs4/dt-1.10.20/r-2.2.3/datatables.min.css"/>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.11.2/js/all.min.js"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega@5.9.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-lite@4.1.1"></script>
    <script src="https://cdn.jsdelivr.net/npm/vega-embed@6.2.1"></script>


    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>

    <script src="https://cdn.jsdelivr.net/gh/xcash/bootstrap-autocomplete@v2.3.0/dist/latest/bootstrap-autocomplete.js"></script>
    <script>
        var Fortune_Corp_Data = {};

        function stock_chart_spec(symbol) {
            corp_data = Fortune_Corp_Data[symbol];

            var vlSpec = {
                $schema: 'https://vega.github.io/schema/vega-lite/v4.json',
                "title": "Capital allocation history of ".concat(symbol),
                "width": "container",
                "height": 400,
                "data": {
                    /*
                    "url": "chart/".concat(symbol)
                    */
                    values: corp_data.quotes
                },
                "config": {
                    "legend": {
                        "title": "Capital Allocation",
                        "orient": "bottom"
                    }
                },
                "layer": [
                    {
                        "mark": "rect",
                        "data": {

                            /*"url": "timeline/".concat(symbol)*/
                            values: corp_data.events
                        },
                        "encoding": {
                            "x": {
                                "field": "start",
                                "type": "temporal",
                                "timeUnit": "yearmonthdate",
                                "axis": null
                            },
                            "x2": {
                                "field": "end",
                                "timeUnit": "yearmonthdate"
                            },
                            "color": {
                                "field": "event",
                                "type": "nominal"
                            }
                        }
                    },

                    {
                        "encoding": {
                            "x": {
                                "field": "as_of_date",
                                "type": "temporal",
                                "axis": {
                                    "title": "Date",
                                    "tickCount": 56
                                }
                            },
                            "y": {
                                "field": "close",
                                "type": "quantitative",
                                "axis": {"title": "Closing Price"}
                            },
                            "color": {
                                "value": "#333"
                            }
                        },
                        "layer": [{
                            "mark": "line"
                        },
                            {
                                "selection": {
                                    "label": {
                                        "type": "single",
                                        "nearest": true,
                                        "on": "mouseover",
                                        "encodings": ["x"],
                                        "empty": "none"
                                    }
                                },
                                "mark": "point",
                                "encoding": {
                                    "opacity": {
                                        "condition": {
                                            "selection": "label",
                                            "value": 1
                                        },
                                        "value": 0
                                    }
                                }
                            }

                        ]
                    },

                    {
                        "transform": [{
                            "filter": {
                                "selection": "label"
                            }
                        }],
                        "layer": [{
                            "mark": {
                                "type": "rule",
                                "color": "gray"
                            },
                            "encoding": {
                                "x": {
                                    "type": "temporal",
                                    "field": "as_of_date"
                                }
                            }
                        },
                            {
                                "encoding":
                                    {
                                        "text": {
                                            "type": "temporal",
                                            "field": "as_of_date"
                                        },
                                        "x": {
                                            "type": "temporal",
                                            "field": "as_of_date"
                                        },
                                        "y": {
                                            "type": "quantitative",
                                            "field": "close"
                                        }
                                    },
                                "layer": [{
                                    "mark": {
                                        "type": "text",
                                        "stroke": "white",
                                        "strokeWidth": 2,
                                        "align": "left",
                                        "dx": 5,
                                        "dy": -5
                                    }
                                },
                                    {
                                        "mark": {
                                            "type": "text",
                                            "align": "left",
                                            "dx": 5,
                                            "dy": -5
                                        }
                                    }
                                ]
                            },
                            {
                                "encoding":
                                    {
                                        "text": {
                                            "type": "quantitative",
                                            "field": "close"
                                        },
                                        "x": {
                                            "type": "temporal",
                                            "field": "as_of_date"
                                        },
                                        "y": {
                                            "type": "quantitative",
                                            "field": "close"
                                        }
                                    },
                                "layer": [{
                                    "mark": {
                                        "type": "text",
                                        "stroke": "white",
                                        "strokeWidth": 2,
                                        "align": "left",
                                        "dx": 20,
                                        "dy": -20
                                    }
                                },
                                    {
                                        "mark": {
                                            "type": "text",
                                            "align": "left",
                                            "dx": 20,
                                            "dy": -20
                                        }
                                    }
                                ]
                            }
                        ]
                    }


                ]
            };
            return vlSpec;
        }

        function insert_stock_chart(symbol, target) {
            var vlSpec = stock_chart_spec(symbol);
            vegaEmbed(target, vlSpec, {
                actions: false
            });
        }

        function insert_events_datatable(symbol) {
            $('#datatable_'.concat(symbol)).DataTable(
                {
                    data: Fortune_Corp_Data[symbol]['events'],
                    columns: [
                        {data: 'start'},
                        {data: 'end'},
                        {data: 'event'},
                        {data: 'sentence'}
                    ]
                }
            )
        }

        function add_stock_chart(symbol, target_id) {

            Fortune_Corp_Data[symbol] = {}

            $.when($.ajax({
                    url: "timeline/".concat(symbol),
                    success: function (data, textStatus, jqXHR) {
                        Fortune_Corp_Data[symbol]['events'] = data;
                    },
                    dataType: "json"
                }),
                $.ajax({
                    url: "chart/".concat(symbol),
                    success: function (data, textStatus, jqXHR) {
                        Fortune_Corp_Data[symbol]['quotes'] = data;
                    },
                    dataType: "json"
                })).done(
                function () {
                    insert_stock_chart(symbol, target_id);
                    if (!symbol.endsWith('_human')) {
                        insert_events_datatable(symbol);
                    }
                }
            );
        }

        function add_to_stocks(symbol) {
            let stock_div = document.createElement("div");
            stock_div.id = "stock_".concat(symbol);
            stock_div.style.minHeight = "400px";
            stock_div.style.minWidth = "600px";
            stock_div.style = "width:100%";

            let table_div = document.createElement("div");
            table_div.id = "div_datatable_".concat(symbol);
            table_div.className = "collapse";

            let show_tbl_btn = document.createElement("button");
            show_tbl_btn.className = "btn btn-info m-sm-2";
            show_tbl_btn.type = "button";
            show_tbl_btn.setAttribute("data-toggle", "collapse");
            show_tbl_btn.setAttribute("data-target", "#" + table_div.id);
            show_tbl_btn.setAttribute("aria-expanded", "false");
            show_tbl_btn.setAttribute("aria-controls", table_div.id);
            show_tbl_btn.innerText = "Show sentences for ".concat(symbol);
            // show_tbl_btn.onclick = function () {
            //     insert_events_datatable(symbol);
            // };


            let table_ele = document.createElement("table");
            table_ele.id = "datatable_".concat(symbol);
            table_ele.className = "table table-striped table-bordered m-sm-2";
            // table_ele.style.minHeight = "400px";
            // table_ele.style.minWidth = "600px";
            // table_ele.style = "width:100%";
            let header = table_ele.createTHead();
            let row = header.insertRow(0);
            let header_names = ["Start", "End", "Capital Allocation", "Sentence"];
            for (let i = 0; i < header_names.length; i++) {
                let cell = row.insertCell(i);
                cell.innerText = header_names[i];
            }
            table_div.appendChild(table_ele);

            let chart_div = document.createElement("div");
            chart_div.id = "chart_".concat(symbol);
            // chart_div.style.minHeight = "400px";
            // chart_div.style.minWidth = "600px";
            chart_div.style = "width:100%; height:100%";
            // chart_div.style = "width:100%";

            stock_div.appendChild(show_tbl_btn);
            stock_div.appendChild(table_div);
            stock_div.appendChild(chart_div);
            document.getElementById("stocks").appendChild(stock_div);
            add_stock_chart(symbol, "#".concat(chart_div.id));
        }

        function clear_stocks() {
            document.getElementById("stocks").querySelectorAll('*').forEach(n => n.remove());
        }
    </script>

    <style media="screen">
        /* Add space between Vega-Embed links  */
        .vega-actions a {
            margin-right: 5px;
        }
    </style>

</head>

<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <button class="btn btn-link btn-sm order-1 order-lg-0" id="sidebarToggle" href="#">
        <i class="fas fa-bars"></i>
    </button>
    <a class="navbar-brand" href="#introduction">Insight Data Engineering Project: Fortune</a>
</nav>


<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div class="sb-sidenav-menu-heading">
                        <a class="nav-link" href="#introduction">
                            Fortune
                        </a>
                    </div>
                    <a class="nav-link" href="#addStocks">
                        <div class="sb-nav-link-icon">
                            <i class="fas fa-chart-line"></i></div>
                        Stocks
                    </a>
                    <a class="nav-link" href="#nlp">
                        <div class="sb-nav-link-icon">
                            <i class="fas fa-book-reader"></i></div>
                        NLP Classifier
                    </a>
                    <a class="nav-link" href="#dashboard">
                        <div class="sb-nav-link-icon">
                            <i class="fas fa-tachometer-alt"></i></div>
                        Dashboard
                    </a>
                    <a class="nav-link" href="#Contact">
                        <div class="sb-nav-link-icon">
                            <i class="fas fa-address-card"></i></div>
                        Contact
                    </a>
                </div>
            </div>
        </nav>
    </div>
    <div id="layoutSidenav_content">
        <main>
            <div class="container-fluid">
                <div id="introduction"></div>
                <h1 class="mt-4">Capital Allocation Monitoring</h1>
                <h3>Markets as weighing machine</h3>
                <p>
                    <i>“In the short run, the market is a voting machine but in the long run, it is a weighing machine.”
                        - Benjamin Graham </i><br/>
                    <i>"In the long run we are all dead." - John Maynard Keynes</i><br/>
                </p>
                <p>
                    How can we filter out the long term signal from short term noise of the stock market?
                    We can gain a deeper understanding of the market by monitoring the capital allocation behavior of
                    the firms in it.
                    Companies differ in how they make money however they are all faced with the same broad choices on
                    how to spend it.
                <ol>
                    <li>Organic Growth: Reinvest it back into the firm</li>
                    <li>Mergers and Acquisitions: Buy another firm</li>
                    <li>Debt Reduction: pay back debt</li>
                    <li>Share Buyback: reduce the share count outstanding</li>
                    <li>Dividend: pay it out the shareholders</li>
                </ol>
                </p>
                <p>
                    Capital allocation decision are made only at the highest level of the firm.
                    Changes in capital allocation strategy signals to sophisticated either financial stress or new found
                    freedom.
                    The long run price formation process is casually driven by how the shareholder base responds a firm
                    capital allocation decisions.
                    Activist investors actively seek change in their target companies. Dividend investors will sell
                    companies that switches from paying out.
                </p>

                <h3>Reading the SEC filings</h3>
                <p>Public companies are required by law to file any changes in capital allocation with SEC.
                    However the information is stated in natural language.
                    There isn't a standardized form that each company fills out that states clearly its current capital
                    allocation state.
                    Instead analyst and investors read the filings and come to their own conclusion.
                    This means that this signal is completely beyond the read of any trading system that can't process
                    natural language.
                    Fortune reads the SEC filings sentence by sentence to recreate the entire capital allocation
                    history.
                </p>

                <h3>Case Study: Dorian LPG</h3>
                <p>
                    Dorian LPG (NYSE: LPG) is a liquefied petroleum gas shipping company and a leading owner and
                    operator of modern very large gas carriers (“VLGCs”).
                    This company is an ideal case for Fortune to understand capital allocation and long run equity
                    prices.
                    LPG has only been a public company since July 30, 2013. There clear transitions of capital
                    allocation.
                    The entire history can be found on the company's <a
                        href="http://www.dorianlpg.com/investor-center/news-and-press-releases/default.aspx">website</a>
                    which allows for easy verification of the system's classification accuracy.
                </p>
                <ul>
                    <li>From 2013 to June 2017, the company was in organic growth state.
                        They sign contracts to purchase new built tankers that take about 2 years to deliver.
                        Facing a declining tanker rate market, this adversely impacted the stock price.
                        See the organic growth section in chart below.
                    </li>
                    <li>To prevent further financial distress the company pivoted to debt reduction and restructuring on
                        June 2017.
                        The stock price clearly did not perform with this the management team and capital focusing on
                        paying debt.
                        An unsuccessful hostile take over bid was launch on 6/15/2018 by a competitor BW LPG.
                    </li>
                    <li>
                        The tanker rate finally began to recover in the second half of 2019,
                        with impending introduction of IMO 2020 and massive increase in LPG production in US from
                        shale revolution.
                        The company announce a share repurchase program on 8/7/2019. The stock has responded positively
                        since the change in capital allocation strategy.
                    </li>
                </ul>

                <p>Of course not every company will have such clear cut story and transition.
                    The chart below shows the timeline that I manually annotated.
                    Interesting thing to note is that the trend and volatility looks distinctly different in each period.
                    You can compare it will NLP generated one by adding LPG as a stock.
                    The underlying classifier still needs plenty of work.
                    However you can try out the system by adding stocks <a href="#addStocks">below</a>.
                </p>
                <div class="row">


                    <!-- Container for the visualization -->
                    <!--
                    <img src="static/assets/img/lpg_visualization.png">
                    -->
                    <div id="vis" style="width:95%"></div>
                    <script>
                        add_stock_chart('LPG_human', '#vis')
                    </script>
                </div>

                <div id="addStocks"/>
                <h3>Compare Stocks</h3>
                <p>Add stocks to view machine annotated timeline. The project still requires work to tune the
                    classification.
                    However having a search engine that indexes sentences and the proper search term for each category
                    helped a lot.
                    Data engineering,taking raw filings storing it a form usable by the NLP, is what made this project
                    possible in 3 weeks.
                </p>
                <div class="form-inline my-2 my-lg-0">
                    <button class="btn btn-secondary mr-sm-2"
                            onclick="add_to_stocks(document.getElementById('stockTicker').value)">Add Stock
                    </button>

                    <input id="stockTicker"
                           class="form-control my-2 mr-sm-2 advancedAutoComplete"
                           type="text"
                           placeholder="Stock Symbol"
                           aria-label="Stock Symbol"
                           autocomplete="off">
                    <button class="btn btn-dark mr-sm-2" onclick="clear_stocks()">
                        Clear
                    </button>
                </div>
                <hr class="solid"/>
                <div id="stocks">

                </div>
                <h1 id="nlp" class="mt-4">Text Classification</h1>
                <div>
                    <p>This classifier is trained on text from SEC filings. Therefore it works best if you phrase
                        sentences like actual corporate press releases.
                        Here are some examples for each capital allocation category taken actual filings:
                    <ul>
                        <li>Chevron Corporation (NYSE: CVX) announced today that it has entered into a definitive
                            agreement with Anadarko Petroleum Corporation (NYSE: APC) to acquire all of the outstanding
                            shares of Anadarko in a stock and cash transaction valued at $33 billion, or $65 per share.
                        </li>
                        <li>On August 5, 2019, our Board of Directors authorized the repurchase of up to $50 million of
                            our common stock through the period ended December 31, 2020.
                        </li>
                        <li>These transactions resulted in the removal of approximately $900 million of debt from the
                            company's balance sheet.
                        </li>
                        <li>RANGE RESOURCES CORPORATION (NYSE: RRC) today announced that its Board of Directors declared
                            a quarterly cash dividend on its common stock for the fourth quarter.
                        </li>
                        <li>Dorian LPG Ltd. (NYSE: LPG) (the "Company" or "Dorian LPG"), a leading owner and operator of
                            modern Very Large Gas Carriers ("VLGCs"), reported that today it took delivery of the ECO
                            VLGC Concorde from Hyundai Heavy Industries.
                        </li>
                    </ul>
                    </p>
                    <div class="input-group mb-3">
                        <div class="input-group-prepend">
                            <span class="input-group-text" id="sentenceLabel">Capital Allocation:</span>
                        </div>
                        <input type="text" class="form-control mr-sm-2" id="sentence" aria-describedby="sentenceLabel">
                        <script>
                            function classify_sentence(sentence) {
                                $.get("classify?sentence=".concat(encodeURIComponent(sentence)),
                                    function (data) {
                                        $("#sentenceLabel").text(data);
                                    });
                            }
                        </script>
                        <button class="btn btn-dark mr-sm-2"
                                onclick="classify_sentence(document.getElementById('sentence').value)">
                            Classify
                        </button>
                    </div>

                </div>

                <h1 id="dashboard" class="mt-4">System Coverage</h1>
                <div class="row">
                    <p>Trusted users of the system have access to real time dashboards created using <a
                            href="https://www.elastic.co/kibana">Kibana</a>.
                        Below is a screen showing the actual coverage of the system as of 2/6/2020.
                    </p>

                    <picture>
                        <img
                                sizes="(max-width: 1400px) 100vw, 1400px"
                                srcset="
static/assets/img/Screenshot_2020-02-06_Operational_Dashboard_-_Kibana_anrknv_c_scale,w_200.png 200w,
static/assets/img/Screenshot_2020-02-06_Operational_Dashboard_-_Kibana_anrknv_c_scale,w_515.png 515w,
static/assets/img/Screenshot_2020-02-06_Operational_Dashboard_-_Kibana_anrknv_c_scale,w_751.png 751w,
static/assets/img/Screenshot_2020-02-06_Operational_Dashboard_-_Kibana_anrknv_c_scale,w_956.png 956w,
static/assets/img/Screenshot_2020-02-06_Operational_Dashboard_-_Kibana_anrknv_c_scale,w_1214.png 1214w,
static/assets/img/Screenshot_2020-02-06_Operational_Dashboard_-_Kibana_anrknv_c_scale,w_1400.png 1400w"
                                src="Screenshot_2020-02-06_Operational_Dashboard_-_Kibana_anrknv_c_scale,w_1400.png"
                                alt="">
                    </picture>
                    <!--
                    <img src="static/assets/img/Screenshot_2020-02-06 Operational Dashboard - Kibana.png">
                    -->

                </div>

                <div id="Contact"></div>
                <h1 class="mt-4">About</h1>
                <p>
                    This is <a href="https://www.linkedin.com/in/phat-loc/">Phat Loc</a>.
                    I hope you enjoyed the website. Please feel free to message me on LinkedIn if you have any questions
                    or feedback.
                    Fortune was create to demonstrate my data engineering skills as part of my time as a data
                    engineering fellow at
                    <a href="https://www.insightdataengineering.com/">Insight</a>.
                    The majority the source code can be found at my <a href="https://github.com/pl6306/">github
                    repository</a>.
                </p>

            </div>
        </main>
        <footer class="py-4 bg-light mt-auto">
            <div class="container-fluid">
                <div class="d-flex align-items-center justify-content-between small">
                    <div class="text-muted">Copyright &copy; DataEngine.xyz</div>
                    <div>
                        <a href="#">Privacy Policy</a>
                        &middot;
                        <a href="#">Terms &amp; Conditions</a>
                    </div>
                </div>
            </div>
        </footer>
    </div>
</div>

<script type="text/javascript" src="https://cdn.datatables.net/v/bs4/dt-1.10.20/r-2.2.3/datatables.min.js"></script>
<script src="static/js/scripts.js"></script>

<script>
    $('.advancedAutoComplete').autoComplete({
        minLength: 1,
        resolver: 'custom',
        formatResult: function (item) {
            return {
                value: item.id,
                text: item.id,
                html: "(" + item.id + ") " + item.text
            };
        },
        events: {
            search: function (qry, callback, origJQElement) {
                $.ajax('lookup', {
                    data: {'qry': qry}
                }).done(function (res) {
                    callback(res.results)
                });
                console.log(origJQElement.value)
            }
        }
    })
    ;
</script>

</body>
</html>